@{
	ViewData["Title"] = "Login";
	Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
@model RegisterModel
@Html.AntiForgeryToken();

<div class="loginContainer">
	<img src="~/images/icon.png" class="loginIcon" />
	<h4>Welcome</h4>
	<h6 style="padding-bottom: 10px">Please enter your details to create an account</h6>

	<form asp-action="Register" method="post" class="loginRegisterMenu" asp-controller="User">
		<div class="loginInputDiv">
			<label for="Email">Email Address:</label>
			<input asp-for="Email" class="form-control" placeholder="Email" />
			<span asp-validation-for="Email" class="text-danger"></span>
		</div>

		<div class="loginInputDiv">
			<label for="AccountName">Account Name:</label>
			<input asp-for="AccountName" class="form-control" placeholder="Name" />
			<span asp-validation-for="AccountName" class="text-danger"></span>
		</div>

		<div class="loginInputDiv">
			<label for="Password">Password:</label>
			<input asp-for="Password" class="form-control" placeholder="Password" />
			<span asp-validation-for="Password" class="text-danger"></span>
		</div>

		<div class="loginInputDiv">
			<label for="ConfirmPassword">Confirm Password:</label>
			<input asp-for="ConfirmPassword" class="form-control" placeholder="Password" />
			<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
		</div>

		<button type="submit" class="loginButton">Create Account</button>
	</form>

	<a href="/User/Login" style="margin-top: 5px">Already have an account? Log in!</a>
</div>