html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.inputDiv {
    padding-bottom: 20px;
}

.formButton {
    border: none
}

.formMenu {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}
/* Used for Workspace Members */

.workspaceGridContainer {
    display: grid;
    grid-template-columns: 32.75% 32.75% 32.75%;
    grid-gap: 10px;
    padding: 10px;
    background-color: #f0f0f0;
}

.workspaceGridItem {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    /*text-align: center;*/
}


/* Workspace Sort Options */
.sort-options a {
    margin: 0 5px;
    text-decoration: none;
    color: #007bff;
}

    .sort-options a:hover {
        text-decoration: underline;
        color: #0056b3;
    }

/* Main Page Table */
.workspaceListTable {
    width: 100%;
    border-collapse: separate
}

.workspaceListRow {
    border-radius: 8px;
    background-color: rgba(10, 10, 10, 0.1);
    text-align: left;
    padding: 5px;
}

.workspaceNameButton {
    border: none;
    padding: 5px;
    border-radius: 4px;
}

/* Board Content */

.topBar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: calc(100% - 10px);
    background-color: rgba(0, 0, 0, 0.1);
    height: 48px;
    padding-left: 15px;
    gap: 10px;
}

.topBarText {
    height: 32px;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 0;
}

.boardContainer {
    display: flex;
    justify-content: flex-start
}

.listContainer {
    width: 100%;
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 10px;
    height: calc(100vh - 85px);
}

.cardList {
    flex: 0 0 auto;
    width: 250px;
    padding: 12px 12px 12px 12px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.1);
    height: max-content;
}

    .cardList > p {
        padding-bottom: 5px;
    }

    .cardList > div {
        padding-bottom: 5px;
        display: flex;
        justify-content: space-between;
    }

.card {
    flex: 0 0 auto;
    padding: 10px 10px 10px 10px;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    height: max-content;
    border-radius: 8px;
}